extends ../../admin-layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Edit User

  form(action='/users/update', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='userId', value=userData._id)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=userData.email)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name', value=userData.profile.name)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='userType') User Type
      .col-md-7
        select.form-control(name='userType', id='userType')
          option(value='readonly', selected= userData.type == 'readonly') Read Only
          option(value='admin', selected= userData.type == 'admin') Admin
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='vendorId') Vendor
      .col-md-7
        select.form-control(name='vendorId', id='vendorId')
          for vendor in vendors
            option(value= vendor._id, selected= userData.vendorId == vendor._id)= vendor.name
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
      .col-md-7
        input.form-control(type='text', name='password', id='password')
      .col-md-2
        a(class="generate-password" onClick="newPassword()") Generate
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmpassword') Confirm Password
      .col-md-7
        input.form-control(type='text', name='confirmpassword', id='confirmpassword')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='clientName') Client Name
      .col-md-7
        input.form-control(type='text', name='clientName', id='clientName', value=userData.partnerClient.clientName)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='domain') Domain
      .col-md-7
        input.form-control(type='text', name='domain', id='domain', value=userData.partnerClient.domain)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update User
