extends ../../admin-layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Edit User

  form(action='/users/update', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='userId', value=userData._id)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=userData.email)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name', value=userData.profile.name)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
      .col-md-7
        input.form-control(type='text', name='password', id='password')
      .col-md-2
        a(class="generate-password" onClick="newPassword()") Generate<br />Password
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmpassword') Confirm Password
      .col-md-7
        input.form-control(type='text', name='confirmpassword', id='confirmpassword')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='clientName') Client Name
      .col-md-7
        input.form-control(type='text', name='clientName', id='clientName', value=userData.partnerClient.name)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='domain') Domain
      .col-md-7
        input.form-control(type='text', name='domain', id='domain', value=userData.partnerClient.domain)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='connectors') Connectors
      .col-md-7
        select.form-control(name='connectors', id='connectors')
          option(value='productin', selected= userData.partnerClient.connectors == 'productin') Shopify Products Inbound
          option(value='productout', selected= userData.partnerClient.connectors == 'productout') Shopify Products Outbound
          option(value='orderin', selected= userData.partnerClient.connectors == 'orderin') Shopify Order Inbound
          option(value='orderout', selected= userData.partnerClient.connectors == 'orderout') Shopify Order Outbound
          option(value='inventory', selected= userData.partnerClient.connectors == 'inventory') Shopify Inventory
          option(value='refund', selected= userData.partnerClient.connectors == 'refund') Shopify Refund
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update User
